extends layout

block head
    link(rel='stylesheet', type='text/css', href='/stylesheets/style-general-panel.css')

block content
    h1#title PANEL GENERAL
    hr
    // CAROUSEL
    div.carousel.slide(id='myCarousel' data-ride='carousel')
        // Indicators
        ol.carousel-indicators
            li.active(data-target='#myCarousel' data-slide-to='0')
            li(data-target='#myCarousel' data-slide-to='1')
            li(data-target='#myCarousel' data-slide-to='2')
            li(data-target='#myCarousel' data-slide-to='3')
        // Wrapper for slides
        div.carousel-inner(role='listbox')
            div.item.active
                img.img-carousel(src='../images/fondo8.jpg' alt='imagen')
            div.item
                img.img-carousel(src='../images/fondo7.jpg' alt='imagen')
            div.item
                img.img-carousel(src='../images/fondo6.jpg' alt='imagen')
            div.item
                img.img-carousel(src='../images/fondo5.jpg' alt='imagen')
        // Left-Right controls
        a.left.carousel-control(href='#myCarousel' role='button' data-slide='prev')
            span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
            span.sr-only Previous
        a.right.carousel-control(href='#myCarousel' role='button' data-slide='next')
            span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
            span.sr-only Next
    hr
    // PRINCIPAL MARKETS INDEXES
    h2 Market Indexes
    .row
        .col-md-4
            h3 Getting started
            p Express gives you a powerful, patterns-based way to build dynamic websites that enables a clean separation of concerns and gives you full control over markup for enjoyable, agile development.
            p
            a.btn.btn-default(href='http://expressjs.com/') Learn more &raquo;
        .col-md-4
            h3 Get more libraries
            p Node Packaged Modules is a repository of software for Node.js.
            p
            a.btn.btn-default(href='https://www.npmjs.org/') Learn more &raquo;
        .col-md-4
            h3 Microsoft Azure
            p You can easily publish to Microsoft Azure using Node.js Tools for Visual Studio. Find out how you can host your application using a free trial today.
            p
            a.btn.btn-default(href='http://azure.microsoft.com') Learn more &raquo;


    // 

block scripts