extends layout

block head
    link(rel='stylesheet', type='text/css', href='/stylesheets/style-home.css')

block content
    br
    br
    div#personal_box.container
        if is_premium
            h2.center-text Hola #{user_name}, esta es tu situación actual
            .row
                .col-md-6
                    p PRUEBA PRUEBA PRUENAB
                .col-md-6
                    p prueba prueba prueba
        else
            h2.center-text Hola #{user_name}, esta es tu situación actual
            .row
                .col-md-6
                    p PRUEBA PRUEBA PRUENAB
                .col-md-6
                    p prueba prueba prueba
    hr.divisoria
    

block scripts