body {
}

.nav-pills>li.active>a, 
.nav-pills>li.active>a:focus, 
.nav-pills>li.active>a:hover{
    color: #000;
    background-color: #6bc76b;
}
.nav-pills>li>a, 
.nav-pills>li>a:focus, 
.nav-pills>li>a:hover{
    color: #000;
    border-radius: 5px 5px 0px 0px;
    background-color: #c4d4c4;
}
.index-name{
    text-align: center;
    font-style: italic;
}
.index-pos-value{
    text-align: center;
    font-weight: bold;
    color: forestgreen;
}
.index-neg-value{
    text-align: center;
    font-weight: bold;
    color: darkred;
}