body
	background-position: adjust

form
	max-width: 700px

img
	margin-left: auto
	margin-right: auto

footer
	color: white
	position: absolute
	margin-top: 13%

#general-box
	width: 100%
	max-width: 600px
	margin-top: 6%
	padding: 0px 0px 0px 0px
	border-radius: 20px

#image-box
	text-align: center
	color: white

#login-box
	background-color: hsla(0, 0, 90%, 0.3)
	border-radius: 20px 	
	padding: 10px 10px 10px 10px

div.row
	margin: 0px 20px 0px 20px

div.input-group.input-group-lg
	width: 100%